body.ltr .mnsnitch {
  text-align: right;
}
body.rtl .mnsnitch {
  text-align: left;
}
.mnsnitch>div {
  display: block;
  padding: 0.25em 0.5em;
  font-size: 1.5em;
  background-color: #bf5035;
  background-image: linear-gradient(#bf5035, #b34b3b);
  color: white;
}

.mnsnitch span {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
}
.mnsnitch a {
  color: white;
  text-decoration: underline;
}
