body.ltr .mnsnitch {
  text-align: right;
}
body.rtl .mnsnitch {
  text-align: left;
}
.mnsnitch>div {
  display: block;
  padding: 0.5em 0.75em 0.65em 0.75em;
  font-size: 1em;
  line-height: 1em;
  background-color: #bf5035;
  background-image: linear-gradient(#bf5035, #b34b3b);
  color: white;
}

/* the x for closing */
.mnsnitch span {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  font-size: 2em;
}

/* the link for email */
.mnsnitch a {
  color: white;
  text-decoration: underline;
}
